<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="form_data">
            <h3>Guest Information</h3>
            <div class="form-group">
                <select class="form-control">
                    <option>Mr.</option>
                    <option>Ms.</option>
                    <option>Mrs.</option>
                    <option>Miss</option>
                </select>
            </div>
            <div class="form-group">
                <div ng-messages="personalForm.guestName.$error">
                    <div ng-message="required">Guest Name is required.</div>
                </div>
                <input type="text" ng-model="personal.guestName" name="guestName" class="form-control"
                       placeholder="Name" required>
            </div>
            <div class="form-group">
                <div ng-messages="personalForm.guestSurname.$error">
                    <div ng-message="required">Guest Surname is required.</div>
                </div>
                <input type="text" ng-model="personal.guestSurname" name="guestSurname" class="form-control"
                       placeholder="Surname" required>
            </div>
            <div class="form-group">
                <div ng-messages="personalForm.guestEmail.$error">
                    <div ng-message="required">E-mail address is required.</div>
                </div>
                <input type="text" ng-model="personal.guestEmail" name="guestEmail" class="form-control"
                       placeholder="E-mail address" required>
            </div>
            <div class="form-group">
                <div ng-messages="personalForm.guestTelephone.$error">
                    <div ng-message="required">Telephone Number is required.</div>
                </div>
                <input type="text" ng-model="personal.guestTelephone" name="guestTelephone" class="form-control"
                       placeholder="Telephone number" required>
            </div>
        </div>
    </div>
</div>