<div class="col-md-4 col-sm-5 col-xs-12 mb_dt">
    <div class="right_sidebar">
        <div class="sidebar_heading">
            <h2>RESERVARTION SUMMARY</h2>
        </div>
        <div class="sidebar_data">
            <div class="sidebar_row">
                <div class="edit"><a href="#">Edit</a></div>
                <div class="sidebar_left">
                    <div class="form-group">
                        <label>CHECK-IN</label>
                        <div class='input-group date' id=''>
                            <input style="border-width: 1px;" type='text' class="form-control"
                                   placeholder="1 Nov 2017"/>

                        </div>
                    </div>
                </div>
                <div class="sidebar_center"><i class="fa fa-angle-right"></i></div>
                <div class="sidebar_right">
                    <div class="form-group">
                        <label>CHECKOUT</label>
                        <div class='input-group date' id=''>
                            <input style="border-width: 1px;" type='text' class="form-control"
                                   placeholder="3 Nov 2017"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar_row">
                <div class="edit"><a href="#">Edit</a></div>
                <div class="sidebar_left">
                    <div class="form-group">
                        <label>ADULTS</label>
                        <input style="border-width: 1px;" type='number' class="form-control"
                               placeholder="2"/>
                    </div>
                </div>
                <div class="sidebar_center"></div>
                <div class="sidebar_right">
                    <div class="form-group">
                        <label>CHILDREN (u 12)</label>
                        <input style="border-width: 1px;" type='number' class="form-control"
                               placeholder="0"/>
                    </div>
                </div>
            </div>
            <div class="sidebar_prices">
                <ul>
                    <li>
                        <h4>Casia Suite <samp>(2 Nights)</samp></h4>
                        <span>R76,000.00 <a href="#">X</a></span>
                    </li>
                    <li>
                        <h4>Knobthorn Suite <samp>(2 Nights)</samp></h4>
                        <span>R76,000.00 <a href="#">X</a></span>
                    </li>
                    <li>
                        <h4>JHB to Silvan <samp>(2)</samp></h4>
                        <span>R9,000.00<a href="#">X</a></span>
                    </li>
                    <li>
                        <h4>Silvan to Cape Town <samp>(2)</samp></h4>
                        <span>R9,000.00<a href="#">X</a></span>
                    </li>
                    <li>
                        <div>
                            <h4>ROOM CHARGES </h4>
                            <span>R152,000.00</span>
                        </div>
                        <div>
                            <h4>ADDITIONAL SERVICES</h4>
                            <span>R18,000.00</span>
                        </div>

                    </li>
                    <li class="total">
                        <h4>TOTAL</h4>
                        <span>R170,000.00</span>
                    </li>
                    <li class="total_btn"><a href="#/confirm">REVIEW AND CONFIRM</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8 col-sm-7 col-xs-12">
    <div class="form_info">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form_data">
                    <h3>Personal Information</h3>
                    <form>
                        <div class="form-group">
                            <select class="form-control">
                                <option>Title</option>
                                <option>Title2</option>
                                <option>Title3</option>
                                <option>Title4</option>
                                <option>Title5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="" placeholder="Surname">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="" placeholder="E-mail address">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="" placeholder="Telephone number">
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form_data">
                    <h3>Address</h3>
                    <form>

                        <div class="form-group">
                            <input type="text" class="form-control" id="" placeholder="Street address">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="" placeholder="City">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="" placeholder="Postal code">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="" placeholder="State or province">
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                <option>Country</option>
                                <option>Country</option>
                                <option>Country</option>
                                <option>Country</option>
                                <option>Country</option>
                            </select>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form_data">
                    <h3>Add guest information</h3>
                    <a href="#"><i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form_data">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Payment Information</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id=""
                                           placeholder="Card holder's name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id=""
                                           placeholder="Credit card number">
                                </div>
                                <div class="form-group">
                                    <label>Expiry date</label>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <select class="form-control">
                                                <option>Month</option>
                                                <option>Month</option>
                                                <option>Month</option>
                                                <option>Month</option>
                                                <option>Month</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <select class="form-control">
                                                <option>Year</option>
                                                <option>Year</option>
                                                <option>Year</option>
                                                <option>Year</option>
                                                <option>Year</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="" placeholder="CVV">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="right_form">
                                <img src="images/visa2.jpg" alt=""/>
                                <p>Your credit card details are transferred only in encrypted form</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="booking_policies">
                    <h3>Booking Policies</h3>
                    <p><strong>Confirmation and Payment:</strong> Provisional reservations will be kept for
                        a maximum of 14 days (subject to
                        room demand). * Written confirmation is needed within 14 days of reservation,
                        failing which Ellerman
                        House reserves the right to cancel the reservation. * 20% non-refundable deposit of
                        accommodation is
                        required on receipt of written confirmation.* The full balance of accommodation is
                        payable six weeks prior
                        to the date of arrival.</p>
                    <p>
                        <strong>Cancellations:</strong> All bookings confirmed in writing will be liable for
                        20% of full accommodation if cancelled
                        earlier than 31 days of arrival. *50% of full accommodation is payable if
                        cancellations are made within 30
                        days of arrival. * The full accommodation account is payable if cancellations are
                        made within seven days of
                        date of arrival. * In the event of premature departure the full duration of the
                        stay, as originally booked and
                        confirmed, will apply. *Refunds of deposits/prepayments for bookings are at the
                        discretion of
                        management and are dependent on the ability to re-let the room/s.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-5 col-xs-12 full_dt">
    <div class="right_sidebar">
        <div class="sidebar_heading">
            <h2>RESERVARTION SUMMARY</h2>
        </div>
        <div class="sidebar_data">
            <div class="sidebar_row">
                <div class="edit"><a href="#">Edit</a></div>
                <div class="sidebar_left">
                    <div class="form-group">
                        <label>CHECK-IN</label>
                        <div class='input-group date'>
                            <input style="border-width: 1px;" type='text' class="form-control checkIn"
                                   placeholder="1 Nov 2017" ng-model="$storage.arrivalDate"/>

                        </div>
                    </div>
                </div>
                <div class="sidebar_center"><i class="fa fa-angle-right"></i></div>
                <div class="sidebar_right">
                    <div class="form-group">
                        <label>CHECKOUT</label>
                        <div class='input-group'>
                            <input style="border-width: 1px;" type='text' class="form-control checkOut"
                                   placeholder="3 Nov 2017" ng-model="$storage.departureDate"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar_row">
                <div class="edit"><a href="#">Edit</a></div>
                <div class="sidebar_left">
                    <div class="form-group">
                        <label>ADULTS</label>
                        <input style="border-width: 1px;" type='number' class="form-control"
                               placeholder="2" ng-model="$storage.totalAdults" />
                    </div>
                </div>
                <div class="sidebar_center"></div>
                <div class="sidebar_right">
                    <div class="form-group">
                        <label>CHILDREN (u 12)</label>
                        <input style="border-width: 1px;" type='number' class="form-control"
                               placeholder="0" ng-model="$storage.totalChilds" />
                    </div>
                </div>
            </div>
            <div class="sidebar_prices">
                <ul>
                    <li ng-repeat="book in roomList" ng-if="bookRooms.indexOf(book.id) != -1">
                        <h4>{{book.name}}<samp>({{book.duration}} Nights)</samp></h4>
                        <span>R{{book.price}}<a ng-click="removeRoom(book.id)">X</a></span>
                    </li>
                    <li>
                        <h4>ROOM CHARGES </h4>
                        <span>R{{getTotalCost()}}</span>
                    </li>
                    <li class="total">
                        <h4>TOTAL</h4>
                        <span>R{{getTotalCost()}}</span>
                    </li>
                    <li class="total_btn"><a href="#/confirm">REVIEW AND CONFIRM</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
