<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="book_data">
        <div class="book_title">
            <h3>BOOK YOUR STAY AT SILVAN SAFARI</h3>
        </div>
        <form name="homeForm" novalidate ng-submit="submitHomeForm(homeForm)">
            <div class="book_calendar">
                <div class="calendar_top">
                    <ul>
                        <li class="arrival_data" ng-click="showCheckInDiv()">
                            <h5>CHECK-IN</h5>
                            <h1>{{firstDate}} <i class="fa fa-angle-down"></i></h1>
                            <span>{{firstMonth | uppercase}} {{firstYear}}</span>
                            <span >{{ firstDay | uppercase }}</span>
                            <div class="mb_dt">Select date</div>
                        </li>
                        <li class="departure_data" ng-click="showCheckOutDiv()">
                            <h5>CHECKOUT</h5>
                            <h1>{{ secondDate }} <i class="fa fa-angle-down"></i></h1>
                            <span>{{ secondMonth | uppercase }} {{ secondYear }}</span>
                            <span>{{ secondDay | uppercase }}</span>
                        </li>
                    </ul>
                </div>
                <div class="calendar_bottom" style="display: none">
                    <article>
                        <div class="checkInPicker" id="checkInDiv" style="display: none" ></div>
                        <div class="checkOutPicker" id="checkOutDiv" style="display: none"></div>
                    </article>
                    <div ng-if="bothDate">* Please select a date before checking availibility </div>
                </div>
                <div class="mb_info">
                    <h5 class="checkOutMobile" style="height: 40px; padding: 0px">CHECKOUT</h5>
                    <div class="mb_dt" ng-click="showCheckOutDiv()">Select date</div>
                    <div class="calendar_mobile" style="display: none;">
                        <article>
                            <div class="checkOutPickerMob"></div>
                        </article>
                    </div>
                    <!--<select class="form-control">-->
                        <!--<option>Select date</option>-->
                        <!--<option>Select date</option>-->
                        <!--<option>Select date</option>-->
                        <!--<option>Select date</option>-->
                        <!--<option>Select date</option>-->
                    <!--</select>-->
                </div>
            </div>
            <div class="availability">
                <button type="submit">Check Availability</button>
            </div>
        </form>
        <div class="bottom_data">
            <div class="bt_left">
                <p>Best rate guarantee!</p>
            </div>
            <div class="bt_right">
                <p>info@silvansafari.com | +27835398254</p>
            </div>
        </div>
    </div>
</div>